/* About Section */
#about {
    background-color: rgba(2, 27, 26);
    padding-top: 100px !important;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

#about .highlight {
    color: var(--highlight-color);
}
