/* Contact Section */
#contact {
    background-color: rgba(2, 27, 26);
    padding-top: 100px !important;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

#contact form input,
#contact form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact button {
    width: 100%;
}
